@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 92.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 92.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 0 0% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 0 0% 94%;
        --sidebar-accent-foreground: 0 0% 30%;
        --sidebar-border: 0 0% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 6.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 84% 60%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 0 0% 7%;
        --sidebar-foreground: 0 0% 95.9%;
        --sidebar-primary: 360, 100%, 100%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 0 0% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 0 0% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    .theme-blue {
        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;
        --ring:221.2 83.2% 53.3%;
    }
}

/*
@layer base {
    :root {
      --background:
        oklch(1.00 0 0);
      --foreground:
        oklch(0.32 0 0);

      --card:
        oklch(1.00 0 0);
      --card-foreground:
        oklch(0.32 0 0);

      --popover:
        oklch(1.00 0 0);
      --popover-foreground:
        oklch(0.32 0 0);

      --primary:
        oklch(0.62 0.19 259.81);
      --primary-foreground:
        oklch(1.00 0 0);

      --secondary:
        oklch(0.97 0.00 264.54);
      --secondary-foreground:
        oklch(0.45 0.03 256.80);

      --muted:
        oklch(0.98 0.00 247.84);
      --muted-foreground:
        oklch(0.55 0.02 264.36);

      --accent:
        oklch(0.95 0.03 236.82);
      --accent-foreground:
        oklch(0.38 0.14 265.52);

      --destructive:
        oklch(0.64 0.21 25.33);
      --destructive-foreground:
        oklch(1.00 0 0);

      --border:
        oklch(0.93 0.01 264.53);
      --input:
        oklch(0.93 0.01 264.53);
      --ring:
        oklch(0.62 0.19 259.81);

      --radius:
        0.375rem;

      --chart-1:
        oklch(0.62 0.19 259.81);

      --chart-2:
        oklch(0.55 0.22 262.88);

      --chart-3:
        oklch(0.49 0.22 264.38);

      --chart-4:
        oklch(0.42 0.18 265.64);

      --chart-5:
        oklch(0.38 0.14 265.52);

      --sidebar:
        oklch(0.98 0.00 247.84);

      --sidebar-foreground:
        oklch(0.32 0 0);

      --sidebar-primary:
        oklch(0.62 0.19 259.81);

      --sidebar-primary-foreground:
        oklch(1.00 0 0);

      --sidebar-accent:
        oklch(0.95 0.03 236.82);

      --sidebar-accent-foreground:
        oklch(0.38 0.14 265.52);

      --sidebar-border:
        oklch(0.93 0.01 264.53);

      --sidebar-ring:
        oklch(0.62 0.19 259.81);

      --font-sans:
        Inter, sans-serif;

      --font-serif:
        Source Serif 4, serif;

      --font-mono:
        JetBrains Mono, monospace;

      --shadow-color:
        hsl(0 0% 0%);

      --shadow-opacity:
        0.1;

      --shadow-blur:
        3px;

      --shadow-spread:
        0px;

      --shadow-offset-x:
        0;

      --shadow-offset-y:
        1px;

      --letter-spacing:
        0em;

      --spacing:
        0.25rem;

      --shadow-2xs:
        0 1px 3px 0px hsl(0 0% 0% / 0.05);

      --shadow-xs:
        0 1px 3px 0px hsl(0 0% 0% / 0.05);

      --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

      --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);

      --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);

      --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);

      --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);

      --shadow-2xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.25);

      --tracking-normal:
        0em;
    }

    .dark {
      --background:
        oklch(0.20 0 0);
      --foreground:
        oklch(0.92 0 0);

      --card:
        oklch(0.27 0 0);
      --card-foreground:
        oklch(0.92 0 0);

      --popover:
        oklch(0.27 0 0);
      --popover-foreground:
        oklch(0.92 0 0);

      --primary:
        oklch(0.62 0.19 259.81);
      --primary-foreground:
        oklch(1.00 0 0);

      --secondary:
        oklch(0.27 0 0);
      --secondary-foreground:
        oklch(0.92 0 0);

      --muted:
        oklch(0.27 0 0);
      --muted-foreground:
        oklch(0.72 0 0);

      --accent:
        oklch(0.38 0.14 265.52);
      --accent-foreground:
        oklch(0.88 0.06 254.13);

      --destructive:
        oklch(0.64 0.21 25.33);
      --destructive-foreground:
        oklch(1.00 0 0);

      --border:
        oklch(0.37 0 0);
      --input:
        oklch(0.37 0 0);
      --ring:
        oklch(0.62 0.19 259.81);
      --chart-1:
        oklch(0.71 0.14 254.62);
      --chart-2:
        oklch(0.62 0.19 259.81);
      --chart-3:
        oklch(0.55 0.22 262.88);
      --chart-4:
        oklch(0.49 0.22 264.38);
      --chart-5:
        oklch(0.42 0.18 265.64);
      --radius:
        0.375rem;
      --sidebar:
        oklch(0.20 0 0);
      --sidebar-foreground:
        oklch(0.92 0 0);
      --sidebar-primary:
        oklch(0.62 0.19 259.81);
      --sidebar-primary-foreground:
        oklch(1.00 0 0);
      --sidebar-accent:
        oklch(0.38 0.14 265.52);
      --sidebar-accent-foreground:
        oklch(0.88 0.06 254.13);
      --sidebar-border:
        oklch(0.37 0 0);
      --sidebar-ring:
        oklch(0.62 0.19 259.81);
      --shadow-color:
        hsl(0 0% 0%);
      --letter-spacing:
        0em;
      --spacing:
        0.25rem;
      --font-sans:
        Inter, sans-serif;
      --font-serif:
        Source Serif 4, serif;
      --font-mono:
        JetBrains Mono, monospace;
      --shadow-opacity:
        0.1;
      --shadow-blur:
        3px;
      --shadow-spread:
        0px;
      --shadow-offset-x:
        0;
      --shadow-offset-y:
        1px;
      --shadow-2xs:
        0 1px 3px 0px hsl(0 0% 0% / 0.05);
      --shadow-xs:
        0 1px 3px 0px hsl(0 0% 0% / 0.05);
      --shadow-sm:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
      --shadow:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
      --shadow-md:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
      --shadow-lg:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
      --shadow-xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
      --shadow-2xl:
        0 1px 3px 0px hsl(0 0% 0% / 0.25);
    }
  .theme {
        --font-sans:
        Inter, sans-serif;
        --font-mono:
        JetBrains Mono, monospace;
        --font-serif:
        Source Serif 4, serif;
        --radius:
        0.375rem;
        --tracking-tighter:
        calc(var(--tracking-normal) - 0.05em);
        --tracking-tight:
        calc(var(--tracking-normal) - 0.025em);
        --tracking-wide:
        calc(var(--tracking-normal) + 0.025em);
        --tracking-wider:
        calc(var(--tracking-normal) + 0.05em);
        --tracking-widest:
        calc(var(--tracking-normal) + 0.1em);
    }
  } */
/*
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 240.85 92.21% 15.10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220.00 14.29% 95.88%;
    --secondary-foreground: 215 13.79% 34.12%;
    --muted: 210 20.00% 98.04%;
    --muted-foreground: 220 8.94% 46.08%;
    --accent: 204.00 93.75% 93.73%;
    --accent-foreground: 224.44 64.29% 32.94%;
    --destructive: 0 84.24% 60.20%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.04% 90.98%;
    --input: 220 13.04% 90.98%;
    --ring: 217.22 91.22% 59.80%;
    --chart-1: 217.22 91.22% 59.80%;
    --chart-2: 221.21 83.19% 53.33%;
    --chart-3: 224.28 76.33% 48.04%;
    --chart-4: 225.93 70.73% 40.20%;
    --chart-5: 224.44 64.29% 32.94%;
    --sidebar: 210 20.00% 98.04%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 217.22 91.22% 59.80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204.00 93.75% 93.73%;
    --sidebar-accent-foreground: 224.44 64.29% 32.94%;
    --sidebar-border: 220 13.04% 90.98%;
    --sidebar-ring: 217.22 91.22% 59.80%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: 0 0% 9.02%;
    --foreground: 0 0% 89.80%;
    --card: 0 0% 14.90%;
    --card-foreground: 0 0% 89.80%;
    --popover: 0 0% 14.90%;
    --popover-foreground: 0 0% 89.80%;
    --primary: 217.22 91.22% 59.80%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.90%;
    --secondary-foreground: 0 0% 89.80%;
    --muted: 0 0% 14.90%;
    --muted-foreground: 0 0% 63.92%;
    --accent: 224.44 64.29% 32.94%;
    --accent-foreground: 213.33 96.92% 87.25%;
    --destructive: 0 84.24% 60.20%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.10%;
    --input: 0 0% 25.10%;
    --ring: 217.22 91.22% 59.80%;
    --chart-1: 213.12 93.90% 67.84%;
    --chart-2: 217.22 91.22% 59.80%;
    --chart-3: 221.21 83.19% 53.33%;
    --chart-4: 224.28 76.33% 48.04%;
    --chart-5: 225.93 70.73% 40.20%;
    --sidebar: 0 0% 9.02%;
    --sidebar-foreground: 0 0% 89.80%;
    --sidebar-primary: 217.22 91.22% 59.80%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224.44 64.29% 32.94%;
    --sidebar-accent-foreground: 213.33 96.92% 87.25%;
    --sidebar-border: 0 0% 25.10%;
    --sidebar-ring: 217.22 91.22% 59.80%;
    --font-sans: Inter, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  } */

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
